.gallery__item__delete{
    position: absolute;
    width: 16px;
    height: 18px;
    margin: 10px 0 0 10px;
    background-image: url("../../../../images/trash.svg");
    background-color: transparent;
    cursor: pointer;
    border: 0;
}