.popup__form-text{
    border-style: hidden;
    border-bottom: #000000 solid 1px;
    padding-top: 35px;
    padding-bottom: 13px;
    width: 100%;
    font-family: "Inter", "Arial ", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    outline: none;
}