.profile__add-button{
    display: flex;
    width: 150px;
    height: 50px;
    border: solid 1px #fff;
    background-image: url("../../../images/add.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border-radius: 2px;
    cursor: pointer;
}
.profile__add-button:hover{
    opacity: 0.6;
}
@media all and (max-width: 521px){
    .profile__add-button{
        margin-top: 36px;
        width: 282px;
    }
}