.gallery__item-title{
    display: flex;
    justify-content: space-between;
    padding: 17px 15px 0 15px;
    margin: 0;
    font-family: "Inter", "Arial ", sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    color: #000000;
}
@media all and (max-width: 521px) {
    .gallery__item-title{
        padding: 20px 20px 0 20px;
    }
}